<h1>JSON type comparison</h1>
<div class="row">
	<div class="span6">
		<h3>Left JSON:</h3>
		<div class="row">
			<div contentEditable="true" class="jsonInput span6" spellcheck="false" ng-model="leftValue">
			</div>
		</div>
	</div>
	<div class="span6">
		<h3>Right JSON:</h3>
		<div class="row">
			<div contentEditable="true" class="jsonInput span6" spellcheck="false" ng-model="rightValue">
			</div>
		</div>
	</div>
</div>
<div class="row">
	<button class="btn btn-primary span12" ng-click="compare()">Compare JSON documents</button>
</div>
<div ng-show="comparison">
	<h2 ng-class='{
		"alert alert-success": comparison.equal,
		"alert alert-error": !comparison.equal
	}'>
		<span ng-show="comparison.equal">Objects are of same type</span>
		<span ng-hide="comparison.equal">Objects are of different types</span>
	</h2>
	<pre ng-bind-html="comparison | json | markerrors"> </pre>
</div>